# IDE and Editor files
#####################
### VS Code ###
.vscode/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Build and dependency management
#####################
### Package Files ###
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

### Gradle ###
.gradle/
build/
# Include Gradle Wrapper
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
# Exclude build directories in source folders
!**/src/main/**/build/
!**/src/test/**/build/

# Environment and configurations
#####################
.envrc
.pixi/
.venv/

# Data and notebooks
#####################
.ipynb_checkpoints/
/files/jupyter_notebooks

# AWS and deployment
#####################
.aws-secrets/**

# Logs and crash reports
#####################
*.log
hs_err_pid*
replay_pid*

# OS-specific files
#####################
### macOS ###
.DS_Store
